/* ------- GLOBAL Styles ------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li,
button,
label,
inputs,
p {
  font-size: 2rem;
}

h1 {
    font-size: 4rem;
  }

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

.hero > .text-header > h3 {
    font-family: 'Indie Flower', cursive;

}

h4,
h5 {
  font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

/* ------- NAV/HEADER Styles ------- */

.main-head {
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 0.5rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0, 0, 0), transparent),url(imgs/steve-jobs_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.text-header {
    padding-top: 10rem;
}



/* ------- HOVER EFFECT NAV ------- */

nav > ul > li {
    transition: all ease-in-out 0.25s;
}

nav > ul > li:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* ------- BIOGRAPHY SECTION ------- */


#biography {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.biography-head {
    width: 60%;
    margin: auto;
}

.biography-head h2 {
    padding: 1rem 0rem;
}

.biography-head p {
    padding: 3rem 0rem;
}

.sj-young {
    height: 26rem;
}

/* ------- FACTS SECTION ------- */

.facts-header {
    background: rgba(128, 128, 128, 0.1);
    padding: 3rem;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts-background {
    min-height: 90vh;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.facts-text {
    padding-top: 10rem;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts-text > ul > li {
    padding-bottom: 2rem;
    padding-left: 5rem;
    font-size: 2.2rem;
}

/* ------- GALLERY SECTION ------- */

.container {
	width: 65%;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-size: 4.8rem;
    padding: 3rem;
    min-height: 10vh;
    display: flex;
    justify-content: center;
}

#gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);

}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/* ------- FOOTER ------- */


footer {
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h3 {
    flex: 1 1 40rem;
    font-family: 'Indie Flower', cursive;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 3rem;
}


/* ------- MEDIA QUERY ------- */

@media screen and (max-width: 933px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }

    .sj-young img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .biography-head {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .biography-head > p {
        font-size: 2.2rem;
    }

    .facts-text {
        width: 90%;
        margin: auto;
    }

    .facts-header {
        text-align: center;
    }

    .container {
        width: 100%;
        text-align: center;
    }

    footer h3 {
        text-align: center;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        height: 4rem;
        padding-top: 0.5rem;
    }
}





